body{
	background-image: url('../images/háttér.jpg');
	background-size: cover;
	color: #555;
	font-family: Courier New, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 2em;
	margin: 0;
}

img{
	max-width: 100%;
}

.címsor{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

.címsor a{
	float: right;
	margin: .35rem .2rem;
}

#fejléc{
	background-image:  url('../images/header2.jpg');
	background-size: cover;
	color: #F5F5DC;
}
#fejléc h2{
	color: #DEB887;
}




.navigáció{
	overflow: hidden;
	display: block;
	padding: 0.2rem 1rem;
	margin: 0;
}


.gomb{
	text-align: center;
	float: left;
	letter-spacing: 3px;
	font-size: 0.8rem;
	font-weight: bold;
	background-color: black;
	display: inline-block;
	padding: 0.5rem 1rem;
	margin: .35rem .2rem;
	border-radius: 0.5rem;
	transition: 0.3s;
	min-width: max-content;
	opacity: 1;
}


.dokumentacio{
	float: right;
}

#navigáció ul{
	padding: 0spx;
	list-style: none;
}

#navigáció li{
	display: inline;
}

#navigáció a{
	float: left;
	display: block;
	color: #DC143C;
	text-decoration: none;
	text-align: center;
	font-size: 18px;
	padding: 5px 6px;
}

.gomb:hover{
	cursor: pointer;
	opacity: 0.8;
}




.tartalom{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	box-sizing: border-box;
	grid-gap: 5%;
	padding: 1rem 1rem 5rem 1rem;
	margin: 3rem 10%;
}

#szoveg{
	display: block;
	background-color: darkslategray ;
	border-radius: .5rem;
	padding: 2rem;
}

#szoveg h2{
	color: #DEB887;
	letter-spacing: 3px;
	font-size: 2rem;
	font-weight: 600;
}

#szoveg p{
	color: #FFE4E1;
	letter-spacing: 3.5px;
	font-size: 1.6rem;
	font-weight: 540;
}

#szoveg a{
	color: #FFE4E1;
	letter-spacing: 3.5px;
	font-size: 1.6rem;
	font-weight: 400;
}

#kep img{
	display: block;
	min-width: 10%;
	border-radius: 0.5rem;
}



.kapcsolatok{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	box-sizing: border-box;
	grid-gap: 5%;
	margin: 3rem 10%;
	color: #FFE4E1;
}

.kártya{
	display: block;
	background-color: darkslategray;
	border-radius: .5rem;
	padding: 1rem;
	color: #DEB887;
	letter-spacing: 2px;
	font-size: 1.5rem;
	font-weight: 500;
}

.kártya a{
	color: #DEB887;
}



#lablec{
	background-color: black;
	position:absolute;
	width: 100%;
	margin: auto;
	overflow: hidden;
 }

.ikon{
	width: 35px;
	height: 35px;
	border-radius: 0.3rem;
}

.ikon:hover{
	cursor: pointer;
	opacity: 0.8;
}



.jegyzet{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
	box-sizing: border-box;
	grid-gap: 5%;
	padding: 2rem;
	margin: 3rem 10%;
}

#kep img{
	display: block;
	min-width: 10%;
	border-radius: 0.5rem;
}

br {
   display: block;
   margin: 7px 0;
}
